
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter"></i>
        </button>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="img/logo.png" class="avatar motion spin fade">
            <div class="menu-bottom">
                Hai, Viqi Firdaus Sahara{{ $parent.userProfile.user_name}}
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <div class="list">
                <ion-item nav-clear menu-close href="#/app/your-rides" class="item-icon-left">
                    <i class="icon ion-ios-speedometer"></i> Your Rides
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/find-a-ride" class="item-icon-left">
                    <i class="icon ion-android-search"></i> Find a Ride
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/offer-a-ride" class="item-icon-left">
                    <i class="icon ion-plus-circled"></i> Offer a Ride
                </ion-item>
                <div class="item item-divider"></div>

                <ion-item nav-clear menu-close href="#/app/ratings" class="item-icon-left">
                    <i class="icon ion-android-star"></i> Ratings
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/inbox" class="item-icon-left">
                    <i class="icon ion-email"></i> 
                    Inbox
                    <span class="badge badge-assertive">0</span>
                </ion-item>
                <div class="item item-divider"></div>
                <ion-item nav-clear menu-close href="#/app/profile" class="item-icon-left">
                    <i class="icon ion-person"></i> Profile
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/help" class="item-icon-left">
                    <i class="icon ion-help-circled"></i> Help
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/login" class="item-icon-left">
                    <i class="icon ion-log-in"></i> Login
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/hari" class="item-icon-left">
                    <i class="icon ion-log-in"></i> Hari
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/components">
                    Components+
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/extensions">
                    Extensions
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/lists">
                    Motion Lists
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/motion">
                    Motion Elements
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ink">
                    Ink
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
