<ion-view view-title="Inbox">
    <ion-tabs class="tabs-striped tabs-top  tabs-color-active-positive">
        
        <!-- Messages Tab -->
        <ion-tab title="Messages"  href="#/app/inbox/messages">
            <ion-nav-view name="tab-messages"></ion-nav-view>
        </ion-tab>

        <!-- Notifcations Tab -->
        <ion-tab title="Notifications" href="#/app/inbox/notifications">
            <ion-nav-view name="tab-notifications"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>