
<ion-view view-title="Find a ride">
    <ion-content class="im-wrapper">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Departure</span>
                <input type="text" placeholder="Departure">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Arrival</span>
                <input type="text" placeholder="Arrival">
            </label>
            <br />
            <label class="item item-input item-select">
                <div class="input-label">
                    Number of seats
                </div>
                <select>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </label>
            <button href="#/app/find-a-ride/search-result" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                Find A Ride
            </button>
        </div>
    </ion-content>
</ion-view>
