
<ion-view view-title="Find a ride">
    <ion-content class="im-wrapper">
        <form name="findRideForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Departure</span>
                    <input ng-model="form.from" type="text" placeholder="Departure">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Arrival</span>
                    <input ng-model="form.to" type="text" placeholder="Arrival">
                </label>
                <br />
                <label class="item item-input item-select">
                    <div class="input-label">
                        Number of seats
                    </div>
                    <select ng-model="form.seats" >
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </label>
                <button href="#/app/find-a-ride/search-result" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="clickFormButton()">
                    Find A Ride
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
