
<ion-view view-title="Change Password">
    <ion-content class="im-wrapper">
        <div class="list">
            
           <form name="form_change_password" ng-submit="changePassword(password)" novalidate>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Current Password</span>
                    <input type="password"  ng-model="password.current" placeholder="Current password">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">New password</span>
                    <input type="password" ng-model="password.new"  placeholder="New password">
                </label>

                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirm new password</span>
                    <input type="password" ng-model="password.confirm"  placeholder="Confirm new password">
                </label>
                <button type="submit" class="button button-block button-positive activated">Save new password</button>
            <form>
        </div>
    </ion-content>
</ion-view>
