
<ion-view view-title="Profile Account">
    <ion-content class="im-wrapper">
        <div class="list">
            <h4>PREFERENCES</h4>
            <a class="item item-icon-left" ui-sref="app.account-notifications">
                <i class="icon ion-android-notifications"></i>
                Notifications
            </a>

            <a class="item item-icon-left" ui-sref="app.account-changepassword">
                <i class="icon ion-locked"></i>
                Change Password
            </a>


            <h4>ABOUT</h4>
            <a class="item item-icon-left" ui-sref="app.help">
                <i class="icon ion-help-circled"></i>
                Help
            </a>

            <a class="item item-icon-left" ui-sref="app.help-term-and-conditions">
                <i class="icon ion-document-text"></i>
                Terms & Conditions
            </a>
            
            <a class="item item-icon-left" ui-sref="app.help-privacy">
                <i class="icon ion-ios-paper-outline"></i>
                Privacy Policy
            </a>
            
            <a class="item item-icon-left" ui-sref="app.help-licenses">
                <i class="icon ion-ios-paper-outline"></i>
                Licenses
            </a>
            
            <a class="item item-icon-left" ui-sref="app.logout">
                <i class="icon ion-log-out"></i>
                Logout
            </a>

        </div>
    </ion-content>
</ion-view>
