<ion-view view-title="Ratings Received">
   <ion-content class="im-wrapper">
       <div style="text-align: center;">
        <h5>12 ratings received with an average of</h5>
        <div style="font-size: 30px; "><i class="icon ion-ios-star"></i> 4.1/5</div>
       </div>

       <h4>Ratings Summary</h4>
       <div class="item item-icon-left">
            <i style="color: #10f118" class="icon ion-ios-circle-filled"></i>
            <p style="float: left">Outstanding : 5</p>
       </div>
       <div class="item item-icon-left">
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i>
            <p style="float: left">Excellent : 5</p>
       </div>
       <div class="item item-icon-left">
            <i style="color: #3f51b5" class="icon ion-ios-circle-filled"></i>
            <p style="float: left">Good : 1</p>
       </div>
       <div class="item item-icon-left">
            <i style="color: #ffc107" class="icon ion-ios-circle-filled"></i>
            <p style="float: left">Poor : 0</p>
       </div>
       <div class="item item-icon-left">
            <i style="color: #f44336" class="icon ion-ios-circle-filled"></i>
            <p style="float: left">Very disappointing : 1</p>
       </div>
       <h4>Ratings History</h4>
       <div class="list ">
         <a class="item item-avatar" ui-sref=app.profile-public>
            <img src="img/arya.jpg">
            <h2>Viqi Firdaus</h2>
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i> <b>Excellent</b>
            <p>"Ride was good, Very pleasant"</p>
         </a>
         <a class="item item-avatar" ui-sref=app.profile-public>
            <img src="img/arya.jpg">
            <h2>Viqi Firdaus</h2>
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i> <b>Excellent</b>
            <p>"Ride was good, Very pleasant"</p>
         </a>
         <a class="item item-avatar" ui-sref=app.profile-public>
            <img src="img/arya.jpg">
            <h2>Viqi Firdaus</h2>
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i> <b>Excellent</b>
            <p>"Ride was good, Very pleasant"</p>
         </a>
         <a class="item item-avatar" ui-sref=app.profile-public>
            <img src="img/arya.jpg">
            <h2>Viqi Firdaus</h2>
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i> <b>Excellent</b>
            <p>"Ride was good, Very pleasant"</p>
         </a>
         <a class="item item-avatar" ui-sref=app.profile-public>
            <img src="img/arya.jpg">
            <h2>Viqi Firdaus</h2>
            <i style="color: #03a9f4" class="icon ion-ios-circle-filled"></i> <b>Excellent</b>
            <p>"Ride was good, Very pleasant"</p>
         </a>
       </div>
   </ion-content>
</ion-view>