
<ion-view view-title="Your Rides">
    <ion-content>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4>
                <center> Going somewhere? </center>
            </h4>            
            <p><center>Share your travel cost with our trusted community.<center></p>
            <button class="button button-block button-calm" ui-sref="app.offer-a-ride">
                OFFER A RIDE
            </button>  
            <button ui-sref="app.find-a-ride" class="button button-block button-balanced">
                FIND A RIDE
            </button>
    </ion-content>
</ion-view>
