
<ion-view view-title="Your Ride">

    <ion-content class="im-wrapper">
		<div class="list" style="margin-top: 30px">
		    <a class="item item-avatar item-icon-right" href="#/app/your-rides/current">
		      <!-- <img src="img/ionic.png"> -->
		      <h2>See the Current</h2>
		      <i class="icon ion-chevron-right"></i>
		    </a>
		    <a class="item item-avatar item-icon-right" href="#/app/your-rides/history">
		      <!-- <img src="img/ionic.png"> -->
		      <h2>See your history</h2>
		      <i class="icon ion-chevron-right"></i>
		    </a>
		</div>
	</ion-content>

</ion-view>