<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-color-active-positive">

  <!-- Current Tab -->
  <ion-tab title="Current" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/your-rides/current">
    <ion-nav-view name="tab-current"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-backspace-outline" icon-on="ion-backspace" href="#/app/your-rides/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

</ion-tabs>


<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <!-- Find a ride -->
  <ion-tab title="Find a ride" icon-off="ion-ios-search" icon-on="ion-search" href="#/app/find-a-ride">
  </ion-tab>

  <!-- Offer a ride -->
  <ion-tab title="Offer a ride" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/app/offer-a-ride">
  </ion-tab>
</ion-tabs>