
<ion-view view-title="Offer a Ride - Just Once Step 2">
    <ion-content class="im-wrapper">
        <div>
            <form name="form_offeraride_justonce" ng-submit="doOfferJustOnce()" novalidate>
                <h4>PRICE</h4>
                <div class="item" href="#">
                    <label for="from and to"  class="item item-input ">
                        <div class="input-label">
                        {{ offer.from }} >> {{ offer.to }}<br>
                        <span style="font-size: 9px; font-style: italic;" >Recommended price : Rp. 10000</span>
                        </div>
                        <!--<p>Recommended price : Rp. 10000</p>-->
                        <input ng-model="offer.price" type="number" placeholder="Rp 10.000">
                    </label>
                </div>
                <div class="item" href="#">
                    <label for="number of seats"  class="item item-input ">
                        <div class="input-label">
                        Number of seats 
                        </div>
                        <input ng-model="offer.seats" type="number" placeholder="3">
                    </label>
                </div>

                <h4>RIDE COMMENT</h4>
                <div class="item" href="#">
                    <span class="input-label">Notes Informations</span> 
                        <ion-textarea></ion-textarea>
                        <textarea name="notes" id="user_mini_bio" 
                                ng-model="offer.notes" style="min-height: 100px; max-height: 100%; width: 100%;" 
                                placeholder="Add notes for your passengers">
                        </textarea>
                </div>
                <h4>OPTIONS</h4>
                <ion-checkbox ng-model="filter.red">
                    <b>Max 2 in the back seats</b><br>
                    Guarantee max 2 people int back of the car <br>
                    (preferred by passengers)
                </ion-checkbox>

                <h4>DETAILS</h4>
                <div class="item " href="#">
                    <label for="Luggage"  class="item item-input item-select">
                        <div class="input-label">
                        Luggage size
                        </div>
                        <select ng-model="offer.luggage_size">
                            <option selected>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </label>
                </div>
                
                <div class="item " href="#">
                    <label for="Time"  class="item item-input item-select">
                        <div class="input-label">
                        Pickup flexibility
                        </div>
                        <select ng-model="offer.pickup_flexibility">
                            <option selected>Right on time</option>
                            <option>In a 15 mins window</option>
                            <option>In a 30 mins window</option>
                            <option>In a 1h window</option>
                            <option>In a 2h window</option>
                        </select>
                    </label>
                </div>

                
                
                <div class="item " href="#">
                    <label for="Detour"  class="item item-input item-select">
                        <div class="input-label">
                        Possible detour
                        </div>
                        <select ng-model="offer.possible_detour">
                            <option selected>None</option>
                            <option>15 minutes max</option>
                            <option>30 minutes max</option>
                            <option>Anthing is fine</option>
                        </select>
                    </label>
                </div>

                
                <ion-checkbox ng-model="offer.term">
                    I accept the <a ui-sref="app.help-term-and-conditions">T&Cs</a> and <a ui-sref="app.help-privacy-policy">Privacy Policy</a>,<br>
                    certify that i hold a driving licence and have valid car insurance
                    (preferred by passengers)
                </ion-checkbox>


                <button ng-disabled="!offer.term" type="submit" class="button button-block button-positive">Publish</button>
                <!--<button ui-sref="app.app.offer-justonce-step2" class="button button-block button-stable activated">Publ</button>-->
            <form>
        </div>
    </ion-content>
</ion-view>
